<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니 목록</title>
</head>

<body>
    <h1>장바구니</h1>
    <table border="1" width="500">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>remove CART</th>
        </tr>

        <% cartList.forEach((car,index)=>{ %>
            <tr>
                <td>
                    <%=car.id %>
                </td>
                <td>
                    <%=car.name %>
                </td>
                <td>
                    <%=car.price %>
                </td>
                <td><a href="/session/removeCart?id=<%=car.id%>">제거</a></td>
            </tr>

            <%}); %>
    </table>
</body>

</html>